@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Home>
@using MBran.OpenGraph.Extensions
@using MBran.OpenGraph.Models
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = null;
}

<div>
    @Html.OpenGraph(new OpenGraph
    {
        Title = "Test default",
        Description = "This is the description",
        ImageId = null,
        Metadata = new List<OpenGraphMetaData> {
            new OpenGraphMetaData
            {
                Metadata = "og:gg",
                Value = "good game"
            }
        }
    })
</div>