@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
}

<div>
    @foreach (var item in Model.Content.OpenGraph)
    {
        <div>
            @item.Metadata: @item.Value
        </div>
    }
</div>