@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Home>
@using MBran.OpenGraph.Extensions
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = null;
}

<div>
    @Html.OpenGraph()
</div>