<div class="umb-property mbran-opengraph" ng-controller="MBran.OpenGraph.OpenGraphController">
    <div class="control-group umb-control-group">
        <div class="umb-el-wrap">
            <label class="control-label ng-binding" title="image">Image</label>
            <div class="controls">
                <div class="umb-property-editor">
                    <div class="umb-editor umb-mediapicker">
                        <div class="flex error">
                            <div ng-show="thumbnail.src != ''">
                                <umb-image-thumbnail 
                                    width="{{thumbnail.width}}"
                                    height="{{thumbnail.height}}"
                                    src="thumbnail.src"			
                                    max-size="120"	
                                />
                                <a class="umb-sortable-thumbnails__action" href="" ng-click="removeImage()">
                                    <i class="icon icon-delete red"></i>
                                    <localize key="general_delete" class="ng-isolate-scope ng-scope">Remove</localize>
                                </a>
                            </div>
                            <a href="#" class="add-link ng-scope add-link-square" ng-show="thumbnail.src == ''" ng-click="pickImage()" prevent-default="">
                                <i class="icon icon-add large"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>